body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    width: 90%;
}
/*header*/
.title{
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: -0.6rem;
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-right: 2rem;
}
nav a{
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}
nav a:hover{
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-top: solid 2px #0065FC;
    color: #0065FC;
}
.nav_responsive{
    display: none;
    text-align: center;
}
.cat_resp1{
    float: left;
    width: 50%;
    text-align: center;
    border-bottom: solid 2px #F2F2F2;
    padding-bottom: 1rem;
}
.cat_resp2{
    text-align: center;
    border-bottom: solid 2px #F2F2F2;
    padding-bottom: 1rem;
}
.cat_resp1:hover{
    color: #0065FC;
    border-bottom: solid 2px #0065FC;
}
.cat_resp2:hover{
    color: #0065FC;
    border-bottom: solid 2px #0065FC;
}

@media screen and (max-width: 600px) {
    .nav_hide{
      display: none;
    }
    .nav_responsive{
        display: block;
    }
  }
.sign_up{
    font-weight: bold;
    color: #0065FC;
}
/*sous_title*/
.sous_title{
    margin-bottom: 1.5rem;
}
i{
    color: #0065FC;
}
/*search bar*/
.search_bar{
    display: flex;
}
.search_bar i{
    background-color: #F2F2F2;
    color: black;
    border: none;
    border-radius: 15px 0 0 15px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    padding: 15px 32px;
}
.search_bar .button{
    background-color: #0065FC;
    color: white;
    border-color: #F2F2F2;
    border-radius: 0 15px 15px 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    padding: 15px 32px;
    max-width: 100%;
}
input{
    border: solid 1.5px #F2F2F2;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 32px;
}
::placeholder{
    color: #000000;
}
.search {
    display: none;
    border-radius: 0 50% 50% 0;
}
.search i{
    background-color: #0065FC;
    color: white;
    border-radius: 20% 20% 20% 20%;
}
@media screen and (max-width: 600px) {
    .no_button{
      display: none;
    }
    .search{
        display: block;
    }

}
/*filter*/
.filter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.title_filter{
    color: #000000;
    font-weight: bold;
    padding-right: 1rem;
}
.select_filter{
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    text-align: center;
    border: solid 3px #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
.select_filter i{
    position: relative;
    top: 1rem;
}
.select_filter p{
    color: #000000;
    font-weight: bold;
    padding-right: 1rem;
    white-space: nowrap;
}
.dot{
    height: 55px;
    width: 55px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: inline-block;
    align-items: baseline;
    margin-right: 1rem;
}
.info{
    display: flex;
    text-align: center;
}
.info i{
    position: relative;
    top: 0.35rem;
    color: #0065FC;
}
.inf{
    position: relative;
    top: 0.6rem;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    align-items: baseline;
    margin-right: 1rem;
    border: solid 3px #F2F2F2;
}
/*partie principale*/
main{
    display: flex;
    justify-content: space-between;
}
.gallery_contenair{
    border-radius: 4% 4% 4% 4%;
    background-color: #F2F2F2;
    padding: 1rem;
    max-width: 65%;
}
.title_gallery{
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.gallery_photo{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.etiquette{
    background-color: white;
    width: 30%;
    border-radius: 10% 10% 10% 10%;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.image{
    border-radius: 10% 10% 10% 10%;
    border: solid white 5px;
    background-color: white;
    box-sizing: border-box;
    margin: auto;
}
.image img{
    border-radius: 10% 10% 0 0;
    width: 100%;
    height: 120px;
    margin-right: auto;
    margin-left: auto;  
}
.description{
    position: relative;
    top: -1rem;
    margin-left: 1rem;
    height: 60px;
}
.description_title{
    position: relative;
    font-weight: 900;
}
.description_prix{
    position: relative;
    top: -0.8rem;
}

/*star*/
.stars{
    position: relative;
    top: -1.2rem;
}
.fa-star{
    color: #F2F2F2;
    cursor: pointer;
}
.fa-star.blue{
    color: #0065FC;
}
/*Les plus populaires*/
.populaires{
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 4% 4% 5% 5%;
    padding: 1rem;
    margin-left: 2.5rem;
}
.gallery_pop{
}
.titre_pop{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.titre_pop p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.titre_pop i{
    position: relative;
    top: 20px;
    right: 20px;
    color: black;

}
.etiquette_pop{
    background-color: white;
    display: flex;
    justify-content: initial;
    border-radius: 10% 10% 10% 10%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.etiquette_pop img{
    border: solid white 5px;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 10% 0 0 10%;
}
.description_pop{
    border: solid white 5px;
    border-radius: 0 10% 10% 0;
    width: 500px;
    margin-left: 0.4rem;
}
.stars_pop{
    position: relative;
    top: 0.8rem;
}
/*gallery_activity*/
.row{
    display: flex;
}
.column{
    max-width: 25%;
    padding: 0px 30px 0px 0px;
}
.img_one{
    width: 100%;
    height: 420px;
    border-radius: 20px 20px 0 0;
}
.img_two{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.img_three{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.img_four{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.img_five{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.img_six{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.place_vignette{
    border: solid 1px grey;
    border-radius: 0 0 20px 20px;
}
.vignette_gallery{
    display: flex;
    flex-direction: column;
}